            body {
                margin: 0;
                padding: 0;
                justify-content: center;
                align-items: center;
                background-color: rgb(255, 163, 178);
            }
            
            .container {
                width: 500px;
                height: 500px;
                margin: 10px auto;
                position: relative;
            }
            
            .container img {
                left: -120px;
                width: 767px;
                height: 535px;
                position: absolute;
                z-index: 999;
            }
            
            #video {
                margin: auto;
                width: 500px;
                height: 500px;
            }
            
            .container h3 {
                font-size: 35px;
                margin-top: 30px;
                font-weight: bold;
                text-align: center;
                font-family: cursive;
                color: white;
            }
            
            #video {
                position: relative;
            }
            
            @media only screen and (max-width: 576px) {
                body {
                    overflow-x: hidden;
                }
                #video {
                    width: 450px;
                    height: 450px;
                }
                .container img {
                    width: 700px;
                }
                .container h3 {
                    margin-top: 70px;
                    font-size: 30px;
                }
            }